[Unit]

Description = hello daemon

[Service]
ExecStart = /opt/hello_deb/hello_deb.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target


